
.tasks {
  text-align: center;
  margin: 50px;
}
  
button {
  font-family: 'Staatliches', cursive;
  color: #9AE617;
  font-size: inherit;
  background-color: black;
  min-width: 40px;
  min-height: 35px;
  text-align: center;
}

button:hover {
  background-color: #FFB5FC;
}