
.tasks {
  text-align: center;
  margin: 50px;
}
  
button {
  font-family: 'Staatliches', cursive;
  color: #9AE617;
  font-size: inherit;
  background-color: black;
  max-width: 30%;
  text-align: center;
}

button:hover {
  background-color: #FFB5FC;
}

@media only screen and (max-width:576px) {
  button {
      font-size: 15px;
  }
}