h1 {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 5px;
    color: black;
    text-align: center;
    margin: 0px 25px 0px 25px;
    background-image: url(docs/cucamber_6.jpg);
    height: 300px; 
    background-repeat: repeat-x
}

h1::first-letter {
  font-size: 150%;
  color: #9AE617;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media only screen and (max-width:576px) {
  h1 {
      font-size: 25px;
      height: 200px;
  }
}