.text {
  font-family: "Staatliches", cursive;
  font-weight: bold;
  font-size: 30px;
  color: black;
  margin: 50px 50px 0px 50px;
  text-align: center;
  padding: none;
  letter-spacing: 3px;
}

.track {
  text-align: center;
}
