.row {
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    font-size: 20px;
    color: black;
    letter-spacing: 3px;
}

.button {
    font-family: 'Staatliches', cursive;
    color: #9AE617;
    font-size: inherit;
    background-color: black;
    text-align: center;
    max-width: 30%;
}
  
.button:hover {
  background-color: #FFB5FC;
}

@media only screen and (max-width:576px) {
  .row {
      font-size: 15px;
  }
  .button {
    max-width: 40%;
  }
}